@model Dal.Context.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))

        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="color:#FC8213;">Kategori Düzenle</h4>
            <hr />
            @Html.HiddenFor(model => model.categoryId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.categoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--For Show Exists Pictures-->
            <div class="form-group">
                @Html.Label("Resim/Resimler", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model.imageName != null)
                    {
                        
                            if (Model.imageName != null)
                            {
                                <div  style="display:inline-block; margin:5px; border:1px solid #808080; padding:10px;">
                                    <img style="width:110px;height:110px;" src="data:image/png;base64,@Convert.ToBase64String(@Model.imageName)" />

                                    
                                </div>
                            }

                        
                    }


                </div>
            </div>
            <!-- Enf of For Show Exists Picture-->
            <!--Image Upload -->
            <div class="form-group">
                @Html.Label("Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="pics" id="pics"  />
                </div>
            </div>
            <!--End Of Image Upload-->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Düzenle" class="btn btn-warning" />
                    @Html.ActionLink("Anasayfa", "Index", null, new { @class = "btn", @style = "background-color:#FC8213;color:white" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (ViewBag.Error != null)
                    {
                        <p class="alert">@ViewBag.Error</p>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>




